body{
    // background-image: url(media/background.jpg);
    background: linear-gradient(rgba(15,15,15,0.8),rgba(5,5,5,0.8)), url(media/background.jpg) no-repeat center;
    background-size: cover;
    main{
    background-color: white;
    
}
.main-navigation {
        float: right;
        background: white;
        border-radius: 5px; }
    }
    .main-navigation .menu-toggle, .main-navigation .menu, .main-navigation .search-form {
        display: inline-block;
        vertical-align: middle; }
      .main-navigation .menu-toggle {
        color: #333;
        border: none;
        background: none;
        font-size: 18px;
        font-size: 1.2em;
        padding: 8px 15px;
        display: none;
        outline: none; }
