{% extends 'accueil.twig' %}

{% block titre %}


<h2>Films par genre</h2>

{% endblock %}

{% block content %}


{% for genre in genres %}


{{genre.genre}}

{{genre.films}}


{% endfor %}

{% for detail in details %}



{{detail.genre}}

{{detail.films}}


{% endfor %}

{% endblock %}